#hero-bg {
    background-image: url("../../neuschwan.jpg");
    position: relative;
    background-position: 0px -620px;
    background-repeat: no-repeat;
    z-index: -1;   
    background-size: cover;
    width: 100%;
}

@media (max-width: 425px) {
    #hero-bg {
        background-position: center;
        background-attachment: fixed;
    }
}

#overlay {
    position: absolute;
    opacity: 0.8;
    height: 100%;
    width: 100%;
    background-color: white;

}

#bio {
    padding-left: 300px;
    padding-top: 50px;
}