#profile-picture {
    height: 10%;
}

.sc-bg{
    background: white;
}

.show {
    display:block;
}

.hide {
    display:none;
}

.contact-info{
    margin-bottom: 0px;
}

.resume-heading{
    border: black;
    border-bottom-style: solid;
    border-width: 3px;
}

/* align date text left on screens that are equal to or less than 768px wide */
@media (max-width: 768px) {
    .align-left-sm {
      text-align: left;
    }
}
  
/* align date text right on screens that are equal to or greater than 769px wide */
@media (min-width: 769px) {
    .align-right-lg {
        text-align: right;
    }
}